      .pageTitle {
  border: 5px outset #C16FC9;
  background-color: #77C96F;    
  text-align: center;
}
      .pageBody {
  background-color: #77C96F;    
  text-align: left;
}
      .pageHeading {
  border: 3px outset #C16FC9;
  background-color: #77C96F;    
  text-align: left;
}
      .interpageLink {
  border: 1px outset #C16FC9;
  background-color: #77C96F;    
  text-align: center;
}
      .navBar {
  margin: 0px 30px 0px 30px; 
}
